.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

practice/cnn-tensorflow/t10k-images-idx3-ubyte.gz
practice/cnn-tensorflow/t10k-labels-idx1-ubyte.gz
practice/cnn-tensorflow/train-images-idx3-ubyte.gz
practice/cnn-tensorflow/train-labels-idx1-ubyte.gz
